*:root{
  --color-base: #64b6ac;
  --color-darker: #345f5a;
  --color-lighter1: #5ba49b;
  --color-lighter2: #86f3e6;
}

.max-height {
  min-height: 100vh;
}
body {

  background: teal;
}
.quote-container {
  background: rgba(255, 255, 255, 0.5);
}
#generate-btn {
  color: var(--color-darker); ;
  background-color: var(--color-base) ;
  border-color: var(--color-base) ;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
#generate-btn:hover {
  background-color: var(--color-lighter2);
  border-color: var(--color-lighter2);
  /*color: #333333;*/
}
.author {
  color: var(--color-darker);
}
